/* warm yellows reports theme */

/*
off red h1, h2 headings		rgb(200, 85, 40)
orange/ochre record bg and headings bar.	rgb(210, 142, 34)
cadium yellow alt row colour.		rgb(241,197,77)
off white/yellow field colour.	rgb(248,231,185)
*/
@font-face {
    font-family: 'body-italic';
    src: url('fonts/playfair/playfairdisplay-italic-webfont.eot');
    src: url('fonts/playfair/playfairdisplay-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/playfair/playfairdisplay-italic-webfont.woff2') format('woff2'),
         url('fonts/playfair/playfairdisplay-italic-webfont.woff') format('woff'),
         url('fonts/playfair/playfairdisplay-italic-webfont.ttf') format('truetype'),
         url('fonts/playfair/playfairdisplay-italic-webfont.svg#playfair_displayitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'body';
    src: url('fonts/playfair/playfairdisplay-regular-webfont.eot');
    src: url('fonts/playfair/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/playfair/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('fonts/playfair/playfairdisplay-regular-webfont.woff') format('woff'),
         url('fonts/playfair/playfairdisplay-regular-webfont.ttf') format('truetype'),
         url('fonts/playfair/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'body-bold';
    src: url('fonts/playfair/playfairdisplay-bold-webfont.eot');
    src: url('fonts/playfair/playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/playfair/playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('fonts/playfair/playfairdisplay-bold-webfont.woff') format('woff'),
         url('fonts/playfair/playfairdisplay-bold-webfont.ttf') format('truetype'),
         url('fonts/playfair/playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'headings';
    src: url('fonts/ubuntu-webfontkit/ubuntu-b-webfont.eot');
    src: url('fonts/ubuntu-webfontkit/ubuntu-b-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ubuntu-webfontkit/ubuntu-b-webfont.woff2') format('woff2'),
         url('fonts/ubuntu-webfontkit/ubuntu-b-webfont.woff') format('woff'),
         url('fonts/ubuntu-webfontkit/ubuntu-b-webfont.ttf') format('truetype'),
         url('fonts/ubuntu-webfontkit/ubuntu-b-webfont.svg#ubuntubold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* end of fonts */
* { 
	color: #1c1c1c; 
	font-family: body, playfair, 'Liberation serif', 'Droid serif', 'times new roman', serif; 
	font-size: 14px; 
	margin: 0; padding: 0; 
}
h1,h2,h3,h4,h5,h6, th { 
	text-align: center; 
	font-family: headings, ubuntu, cantarell, roboto, sans-serif;
        font-weight: bold; 
}
h1 { 
	font-size: 2em; 
	/* text-shadow: 1px 1px 1px #555, 
				-1px -1px 1px white,
				-1px -1px 1px #555;  */
	color: rgb(200, 85, 40);
}
h2 { font-size: 1.8em; color: rgb(200, 85, 40); }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }

table, .record { 
	width: 80%;
	margin: 18px auto;
	padding: 0.2em;
	background: rgb(210, 142, 34); 
	border-radius: 15px;
	box-shadow: 1px 1px 8px rgb(210, 142, 34);
	border-collapse: collapse;
}
th {
	padding: 6px 10px;
	background: rgb(210, 142, 34);
	color: #fff;
}
p, td, .field {
	padding: 0.4em 1em;
	background-color: rgb(248, 231, 185);
    /* border: 1px solid #444; */
	border-radius: 0px;
}
tr:nth-child(even) td {
	background-color: rgb(241,197,77);
}

#2nd_rep { }
.lead-data { font-family: body; }
.2lead-data { font-size: 120%; font-family: body-bold; }
em { font-style: italic; }
